/**
 * Colors
 */
/**
 * Colors
 */
/**
 * Timings and Animation
 */
.sign__in__button {
  background-color: #E0E0E0;
  height: 36px;
  padding: 0 2.6rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1.4rem;
  letter-spacing: .03rem;
  position: relative;
  overflow: hidden;
  min-width: 88px;
  font-weight: 400;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #F77D0F;
  transition: padding 200ms ease-out, background-color 200ms ease-out, font-size 150ms ease-out, width 300ms 100ms ease-out, border-radius 200ms ease-out, box-shadow 200ms ease-out; }

.signInButton:hover {
  background-color: #E0E0E0; }

.sign__in__button:active {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2);
  background-color: #E0E0E0; }

.sign__in__button:focus {
  outline: none; }
